{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item active"><a href="{{ path('home') }}">Home</a></li>
</ol>
{% endblock %}

{% block body %}
<div class="row">
    <!-- Left col -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>News</h1>
                {% include 'home/_controls.html.twig' %}
            </div>
            <div class="card-body">
                <table id="news" class="table table-bordered table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="width90">ID news</th>
                            <th>Title</th>
                            <th class="width190">Date news</th>
                            <th>Full text</th>
                            <th class="width150">Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID news</th>
                            <th>Title</th>
                            <th>Date news</th>
                            <th>Full text</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

    {% include 'modals/_delete.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script>
        (function ($) {
            'use strict'

            let tableNews = '#news'
            let modalDelete = '#modal-delete'
            let btnModalDelete = '#btn-modal-delete'

            let table = $(tableNews).DataTable({
                'columnDefs': [
                    {'name': 'newsId', 'targets': 0},
                    {'name': 'title', 'targets': 1},
                    {'name': 'newsDate', 'targets': 2},
                    {'name': 'fullText', 'targets': 3},
                    {'name': 'category', 'targets': 4},
                    {'name': 'control', 'targets': 5, 'orderable': false, 'searchable': false},
                ],
                'ajax': {
                    'url': "{{ path('datatable_news') }}",
                    'type': 'POST'
                },
                'stateSave': true,
                'processing': true,
                'serverSide': true,
                'responsive': true,
                'autoWidth': false,
                'paging': true,
                'info': true,
                'searching': true,
                'pageLength': 20,
                'order': [[0, 'asc']],
            })

            $('#download-rbc-news').on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('download_rbc_news') }}",
                    dataType: 'json'
                }).done(function (data) {
                    table.ajax.reload()
                    toastr.success(data.message)
                }).fail(function () {
                    toastr.error('Something gone wrong')
                })
            })

            $(tableNews).on('click', '.modal-delete-dialog', function () {
                $(btnModalDelete).attr('data-confirm-delete-id', $(this).attr('data-id'))
                $(modalDelete).modal('show')
            })

            $(modalDelete).on('click', btnModalDelete, function () {
                let url = "{{ path('news_delete', { id: 'fileId_' }) }}"
                url = url.replace('fileId_', $(this).attr('data-confirm-delete-id'))

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        '_method': 'post',
                        '_token': "{{ csrf_token('delete-item') }}",
                    },
                    dataType: 'json'
                }).done(function (data) {
                    table.ajax.reload()
                    toastr.success(data.message)
                }).fail(function () {
                    toastr.error('Something gone wrong')
                })
                $(btnModalDelete).attr('data-confirm-delete-id', null)
                $(modalDelete).modal('hide')
            })
        })(jQuery)
    </script>

{% endblock %}
