{% extends 'base.html.twig' %}

{% block title %}Show news{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
    <li class="breadcrumb-item active">News</li>
</ol>
{% endblock %}

{% block body %}
<div class="row">
    <!-- Left col -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>{{ news.title }}</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="text-muted">
                            <p class="text-sm">Category
                              <b class="d-block">{{ news.category }}</b>
                            </p>
                            <p class="text-sm">Date news
                              <b class="d-block">{{ news.dateNews|date("d.m.Y") }}</b>
                            </p>
                            {% if news.author %}
                            <p class="text-sm">Author
                                <b class="d-block">{{ news.author }}</b>
                            </p>
                            {% endif %}
                            <p class="text-sm">Resource
                                <b class="d-block">{{ news.linkResource }}</b>
                            </p>
                            <a href="{{ news.link }}">
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    {% if news.image %}
                    <div class="col-sm-8">
                        <img src="{{ news.image }}" style="max-height:550px;" alt="Img news">
                    </div>
                    {% endif %}
                </div>

            </div>
            <div class="card-body">
                <p>{{ news.fullText }}</p>
               
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}
